<header>
    <img
    src="assets/img/william.jpg"
    alt="William Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
    />
    <h1>William Fonseca Celestino da Siva</h1>
</header>

<aside>
    <div class="container">
      <p> HTML5 | CSS3 | Javascript | Angular</p>
      <p>São Paulo, Brasil</p>
      <p>
        Estou na área de desenvolvimento de software há 2 anos. Devido a isso
        resolvi começar a vida de Desenvolvedor como  Front-end.
      </p>
  
      <nav>
        <ul>
          <li>
            <a href="assets\pdf\William Fonseca Celestino da Silva - SP.docx" target="_blank" class="btn btn-primary">
              Download Cv
            </a>
          </li>
  
          <li>
            <a
              href="https://www.linkedin.com/in/william-fonseca-a6872b255/"
              target="_blank"
              class="btn btn-secondary"
            >
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.webp"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://api.whatsapp.com/send?phone=5512997641628&text=Ol%C3%A1%20William,%20preciso%20de%20um%20job!"
              target="_blank"
            >
              <strong>Envie uma menssagem para:</strong>
              <p>WhatsApp: (12) 9 9764-1628</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:williamfonseca6497@gmail.com" target="_blank">
              <strong>Envie uma e-mail para:</strong>
              <p>williamfonseca6497&#64;gmail.com</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </div>
  </aside>